<div class="header">
    <ul>
       <li><a routerLink="/books"> Livres</a></li> 
        <li> <a routerLink="/activateabonnement">Activate abonnement</a> </li>   
       <li><a  *ngIf="visible" routerLink="/premiumpage">abonnement page</a></li> 
<li><input type="text" placeholder="search"></li>
<button mat-icon-button [matMenuTriggerFor]="menu" id="button">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span >  <button (click)="disconnect()">Logout </button></span>
    </button>
    <button mat-menu-item >
        <mat-icon>settings</mat-icon>
      <span><a routerLink="/etudiantinfo">Confidentiality</a></span>
    </button>
    
  </mat-menu>
    </ul>


</div>