.header{
    background-color: black;
    width: 100%;
    height: 100px;
    color: white;
}
.header ul li{
    text-decoration: none;
    display: flex;
    padding: 20px;
}
.header ul li a{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: blue;
}
.header ul li a:hover{
    background-color: whitesmoke;
}
.header ul{
    display: flex;
    padding: 10px;
}
input[type="text"]{
    width: 400px;
    padding-right: 600px;
}
#button{
    margin-top: 10px;
    height:30px;
}