
<body>
    <div class="header">
        <ul>
            
            <a href=".support">Home</a>
            <a href=".support">Introduction</a>
            <a href=".support">Books</a>
          <a href=".support">Support</a>
          <a href=".support">team</a>
            
        </ul>
    </div>
    
<div class="body">

    <div class="test">
        <h1 id="ebook">EBOOK<br> <br>LIBRARY</h1>
        <p>Get access to different books around the world from<br>anywhere fast Shipping  and secure Payement
        Interested ? Join Us now
        
        
        </p>
<button id="login"(click)="openloginchoices()">login Now</button>
        <button id="register" (click)="openregisterchoices()">register</button>
    </div>
    





<img src="https://th.bing.com/th/id/OIP.0B45KWs_5cfqKhgCq6ThhQHaFS?w=240&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7">
</div>
<div class="bookchoices">
<h1>BookList </h1>
<img src ="https://th.bing.com/th/id/R.7ace961070d2ef3a0dcbe83a6cfeb4d1?rik=p5ghHi6r0%2b5%2f7g&pid=ImgRaw&r=0">
<img src="https://th.bing.com/th/id/R.28f39a3be4ee507ef5a6e5519af71298?rik=VZeMa8o50CRImQ&pid=ImgRaw&r=0">
<img src="https://th.bing.com/th/id/OIP.MZKIektzRFpXkhBQlq5XVAAAAA?pid=ImgDet&w=400&h=550&rs=1">
<img src="https://th.bing.com/th/id/OIP.MZKIektzRFpXkhBQlq5XVAAAAA?pid=ImgDet&w=400&h=550&rs=1">
<img src="https://th.bing.com/th/id/OIP.MZKIektzRFpXkhBQlq5XVAAAAA?pid=ImgDet&w=400&h=550&rs=1">
<img src="https://th.bing.com/th/id/OIP.MZKIektzRFpXkhBQlq5XVAAAAA?pid=ImgDet&w=400&h=550&rs=1">
</div>

<div class="support">
<mat-card>
<mat-card-content> mohamed jlassi</mat-card-content>

</mat-card>
<mat-card-content> oussamabakali </mat-card-content>

</div>



</body>