body{
    background-color: black;
}
mat-card{
    background-color: white;
    height:450px;
    width:450px;
    max-width: 400px;
   
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
mat-card-header{
    padding-left: 150px;
}
input{
    padding-top: 40px;
    height:100px;
    width: 300px;
    border: none;
    border-bottom: 5px solid black;
}
input:focus{
    outline: none;
}
button{
    margin-top: 5px;
    padding-top: 15px;
    width: 300px;
}